{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">Event Booking System</a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addvenue">Add Venue</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">View Feedback</a>
          </li>
          <li>
            <form class="form-inline my-2 my-lg-0"></form>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <form>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!--notification-->
        <i class="material-icons" style="font-size: 36; color:blanchedalmond">
          <a href="#"></a>&#xe003;</a>
        </i>
        <!--for logout-->
        <i class="material-icons" style="font-size: 36; color:blue">
          <a href="#">&#xe853;</a>
        </i>
      </form>
    </div>
  </nav>