{% load static %}


<br>
<div class="card" style="width: 20rem;">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center" text-white mb-3 id="total-booked">
                    <div class="card-header">
                        <h5 class="card-title">Total Booked</h5>
                    </div> 
                <div>
                <div class="card-body">
                    <p class="card-text">5</div></p>
                </div>  
            </div>
        </div>
    </div>
</div>
   
<div class="card" style="width: 20rem;">
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center" text-white mb-3 id="pending">
                    <div class="card-header">
                        <h5 class="card-title">Pending</h5>
                    </div> 
                <div>
                <div class="card-body">
                    <p class="card-text">2</p></div></p>
                </div>  
            </div>
        </div>
    </div>
</div>
   
    